<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Website</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    
    <nav id="navbar">
        
        <ul>
            <span id="logo">
                <img src="static\logo.png" weidth="20" height="50">
            </span>
            <li><a href="/">Home</a></li>           
            <li><a href="/contact">Contact</a></li>            
        </ul>
    </nav>
    <content>
    <section class="container" id="intro">
        <div><h2 >Welcome to my Food ordering website.</h2>
            <h4>Eat Sleep And Repeat.</h4>
        </div>
    </section>

    <section class="container" id="menu">
        <h2>Menu</h2>
        <div id="menuitem">
        <div class="menubox">
            <h4>Food Ordering</h4>
            <img src="static\ordering.jpg">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea laboriosam autem nobis quasi itaque saepe aspernatur sint quibusdam suscipit repellendus accusamus dicta architecto deleniti qui molestias, ab consequuntur laudantium. Ipsum quae vero ipsam fugit distinctio ipsa molestias excepturi quas officiis exercitationem, modi </p>
        </div>
        <div class="menubox">
            <h4>Fast Delivery</h4>
            <img src="static\delivery.jpg">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum excepturi maiores eaque alias totam accusamus commodi tempora architecto fugit beatae corporis adipisci culpa quos placeat blanditiis labore impedit doloremque dicta perferendis sed autem eos, saepe accusantium quo? Assumenda, reiciendis at.
            </p>
        </div>
        <div class="menubox">
            <h4>Customer satisfaction</h4>
            <img src="static\ordering.jpg">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum excepturi maiores eaque alias totam accusamus commodi tempora architecto fugit beatae corporis adipisci culpa quos placeat blanditiis labore impedit doloremque dicta perferendis sed autem eos, saepe accusantium quo? Assumenda, reiciendis at.
            </p>
        </div>
    </div>
    </section>

    <section class="container" id="sponcer">
        <h2>Our Sponcer</h2>
        <div id="icon">
        <img src="static\apple.png">
        <img src="static\google.png">
        <img src="static\micro.png">
    </div>

    </section>
    <footer id="footer">Copyright &copy; www.foodwebsite.com. All rights reserved!</footer>
    </content>

</body>
</html>
      